<template>
  <div class="home">
    <h1>Code names</h1>
    <template v-if="defeat">
      <h1>The espion got you...</h1>
      <h2>The {{ playing }} team lost!</h2>
      The black word was <strong>{{ black }}</strong>
      <div class="buttons">
        <button v-on:click="generate">Generate</button>
      </div>
    </template>
    <template v-else-if="over">
      <template v-if="grid.length === 0">
        <h1>New game</h1>
      </template>
      <template v-else>
        <h1>Well played...</h1>
        <h2>The {{ playing }} team won!</h2>
      </template>
      <div class="buttons">
        <button v-on:click="generate">
          Generate
        </button>
      </div>
    </template>
    <template v-else>
      <h2>{{ playing }} team, it is your turn</h2>
      <Cards :words=grid />
      <div class="bottom">
        <div class="info">
          <p>playing: {{ playing }}</p>
          <p>red: {{ redLeft.size }}</p>
          <p>blue: {{ blueLeft.size }}</p>
          <p>
            <label for="seed">Seed: </label>
            <input
              id="seed"
              v-model.trim="seed"
              type="number"
              name="seed"
            >
          </p>
        </div>
        <div class="buttons">
        <button v-on:click="switchTeam">
          Next Player
        </button>
        <button v-on:click="generate">
          Regenerate
        </button>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import Cards from '@/components/Cards.vue';
import Vuex from 'vuex';

export default {
  name: 'home',
  components: {
    Cards,
  },
  computed: {
    ...Vuex.mapGetters(['grid', 'over', 'defeat', 'playing', 'blueLeft', 'redLeft', 'black']),
    seed: {
      get() {
        return this.$store.getters.seed;
      },
      set(seed) {
        if (seed !== '') {
          this.$store.commit('generateGame', Number(seed.trim()));
        }
      }
    }
  },
  methods: {
    generate() {
      this.$store.commit('generateGame');
    },
    switchTeam() {
      this.$store.commit('changeTeam');
    }
  }
};
</script>

<style lang="scss">
.home {
  display: flex;
  flex-direction: column;
  .info {
    display: flex;
    justify-content: space-evenly;
  }

  .buttons {
      display: flex;
      justify-content: space-evenly;
  }

  .home {
    margin-left: 10%;
    margin-right: 10%;
  }
}
</style>
