<template>
  <div class="spy">
    <template v-if="seed">
      <div :class="{ lists: true, reversed: !redStarts }">
        <div class="list red">
          <p><strong>Red</strong></p>
          <ul class="words">
            <li @click="found(word)" v-for="word in redLeft" :key="word">
              {{ word }}
            </li>
          </ul>
        </div>
        <div class="list grey">
          <p><strong>Grey</strong></p>
          <ul class="words">
            <li @click="found(word)" v-for="word in greyLeft" :key="word">
              {{ word }}
            </li>
          </ul>
        </div>
        <div class="list blue">
          <p><strong>Blue</strong></p>
          <ul class="words">
            <li @click="found(word)" v-for="word in blueLeft" :key="word">
              {{ word }}
            </li>
          </ul>
        </div>
      </div>
      <div class="sep" />
      <h3><strong>Black</strong></h3>
      <p class="black">{{ black }}</p>
    </template>
    <p>
      <label for="seed">Seed: </label>
      <input
        id="seed"
        v-model.trim="seed"
        type="number"
        name="seed"
      >
    </p>
  </div>
</template>

<script>
import Vuex from 'vuex';

export default {
  name: 'spy',
  data() {
    return {
      seed_: 0
    }
  },
  computed: {
    ...Vuex.mapGetters(['redLeft', 'blueLeft', 'greyLeft', 'black', 'redStarts']),
    seed: {
      get() {
        return this.seed_;
      },
      set(value) {
        this.seed_ = Number(value.trim());
        this.$store.commit('generateGame', this.seed_);
      }
    }
  },
  methods: {
    found(word) {
      this.$store.commit('found', word);
    }
  },
};
</script>

<style scoped lang="scss">
.spy {
    display: flex;
    flex-direction: column;

    .lists {
        display: flex;
        justify-content: space-evenly;

        .list {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    border: 1px solid;
                    margin: 10px;
                    padding: 10px;

                    font-size: 18px;
                }
            }
        }

        .red {
            background-color: #FF000020;
        }

        .grey {
            background-color: #00000020;
        }

        .blue {
            background-color: #0000FF20;
        }
    }

    .sep {
        margin-top: 2em;
        content: ' ';
        display: block;
        height: 1px;
        background-color: #000000D3;
    }
    .black {
        color: white;
        background-color: #000000D3;
        padding: 1em 0;
        font-size: 32px;
    }

    .reversed {
        flex-direction: row-reverse;
    }
}


</style>
