<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
</script>

<style lang="scss">
@import 'scss/normalize.css';

h1 {
  margin-top: 0;
}
#app {

  padding: 30px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  height: calc(100vh - 60px);
  background-color: #f8f8f8;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
